/*Basic layout*/
body{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
    grid-template-rows: 100px 1fr 200px;
    grid-template-columns: 1fr;

}

body > nav{
    grid-area: nav;
    background-color: #f4effa;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

body > main{
    grid-area: main;
    background-color: #C9E4DE;
    height: 90vh;
}

body > footer{
    grid-area: footer;
    background-color: #9776C8;
}

/*----------------------------------------Navbar menu---------------------------*/
/*first line with logo, search bar and user's related menu buttons*/
#header{
    order: 0;
    display:flex;
    flex-flow: row nowrap;
    height: 50%;
    margin: 0;
    padding: 0;
}

/*Second line with catalog and quick linkes*/
#menu{
    order:1;
    display: flex;
    flex-flow: row nowrap;
    height: 50%;
    margin: 0;
    padding: 0;
}
